.comic {
    background-color: whitesmoke;
    border: 1px solid #333;
    border-radius: 10px;
    height: 250px;
    margin: 20px;
    padding: 10px;
}

.comic-thumbnail-container {
    float: left;
    margin: 0px 20px;
}

.comic-details {
    float: left;
    margin: 10px;
}

.comic-thumbnail {
    width: 150px;
}

.zoom {
    padding: 50px;
    /* background-color: green; */
    transition: transform .2s; /* Animation */
    width: 260px;
    height: 260px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.description {
    font-size: 15px;
}