.App {
	text-align: center;
	background-color: goldenrod;
  }
  
.App-header {
	background-color: maroon;
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
color: #61dafb;
}

.flex-1 {
	flex: 1;
}

body {
	background-image: url('../../wideMarvel.jpg');
}